Checks:	"boost-*,bugprone-*,cppcoreguidelines-*,clang-analyzer-*,modernize-*,misc-*,performance-*,portability-*,readability-*,-modernize-use-trailing-return-type,-readability-braces-around-statements,-readability-isolate-declaration,-clang-diagnostic-missing-field-initializers"
